{% extends 'layout.html' %}

{% block title %}Your Feed{% endblock %}

{% block content %}

<div style="display: none !important; padding: 0 !important;" data-target="{{ld_posts}}" id="ld_posts"></div>
<div style="display: none !important; padding: 0 !important;" data-target="{{ld_comments}}" id="ld_comments"></div>

{% macro set_flag(list) %}
    {% set _ = list.append(true) %}
    {% set _ = list.pop(0) %}
{% endmacro %}

{% set flag_list = [false] %}
{% if tblboard %}
    {% for post in tblboard %}
        {% if post['user_id'] != session['user_id'] %}
            {% if not flag_list[0] %}
                {{ set_flag(flag_list) }}
            {% endif %}
            <div class="row your-posts-feed-page post" id="post-{{ post['board_id'] }}">
                <div class="col-4">
                    <div class="row">
                        <!-- Image and Info column -->
                        <div class="col-12">
                            <!-- Display profile picture -->
                            {% if post["user_avatar"] == "" %}
                            <img class="pfp" src="{{ url_for('default_image') }}" alt="Default Image">
                            {% else %}
                            <img class="pfp" src="/static/Images/{{post["user_avatar"]}}" alt="User Avatar">
                            {% endif %}
                        
                            <!-- Display post info -->
                            <div class="info_posts">
                                <div class="row">
                                    <!-- Display username -->
                                    <div class="col-6 ellipsis-label">Username:</div>
                                    <div class="col-6 ellipsis">{{ post['user_name'] }}</div>
                                </div>
                                {% if post['date'] %}
                                <div class="row">
                                    <!-- Display time posted -->
                                    <div class="col-6 ellipsis-label">Time Posted:</div>
                                    <div class="col-6 ellipsis">{{ post['date'] }}</div>
                                </div>
                                {% endif %}
                                {% if post['date_edited'] %}
                                <div class="row" id="old-date-edited">
                                    <!-- Display time edited -->
                                    <div class="col-6 ellipsis-label">Time Edit:</div>
                                    <div class="col-6 ellipsis">{{ post['date_edited'] }}</div>
                                </div>
                                {% endif %}
                            </div>
                        </div>                    
                    </div>
    
                    <!-- Print the values -->
    
                    {% if session["user_id"] == post['user_id'] or session["role_id"] == 1 or session["role_id"] == 2 %}
                        <div class="col-12">
                            <!-- Add this hidden edit form inside the loop for posts -->
                            {% if session["user_id"] == post['user_id'] %}
                                <div class="edit-form-container" id="edit-form-{{post['board_id']}}" style="display:none;">
                                    <h3>Edit Post</h3>
                                    <form class="edit-form" data-board-id="{{post['board_id']}}" enctype="multipart/form-data"> 
                                        <label for="edit-title-{{post['board_id']}}">Title Of Post:</label>
                                        <br>
                                        <input type="text" id="edit-title-{{post['board_id']}}" value="{{post['title']}}" maxlength="50" required>
                                        <br>
                                        <br>
                                        <label for="edit-image-{{post['board_id']}}"> Image </label>
                                        <span style="color: red;">(Max of 5 images)</span>
                                        <br>
                                        <input type="file" id="edit-image-{{post['board_id']}}" name="image" accept="image/*" multiple onchange="validateFiles(this);"/>
                                        <br>
                                        <br>
                                        <label for="edit-brag-{{post['board_id']}}">Type Your Post Here:</label>
                                        <br>
                                        <br>
                                        <textarea id="edit-brag-{{post['board_id']}}" rows="4" cols="50" maxlength="255">{{post['brag']}}</textarea>
                                        <br>
                                        <br>
                                        <button class="btn-primary" type="submit">Update</button>
                                        <button class="cancel-edit btn-secondary" type="button" data-board-id="{{post['board_id']}}">Cancel</button>
                                    </form>
                                </div>
                            {% endif %}
    
                            <div class="row">
                                <div class="col-12 buttons-container">
                                    <!-- Column for the Edit Post button -->
                                    <div class="edit_post_button_ajax">
                                        {% if session["user_id"] == post['user_id'] %}
                                            <!-- Update the Edit Post button -->
                                            <button class="edit-post btn-primary btn-block" id="edit_button-{{post['board_id']}}" data-board-id="{{post['board_id']}}"><i class="fa fa-edit"></i></button>
                                        {% endif %}
                                    </div>
                                    
                                    <!-- Column for the Delete Post button -->
                                    <div class="delete_post_button_ajax">
                                        <!-- Only show the delete button if the user is the author or an admin -->
                                        <form class="delete-post delete-post-form" action="{{ url_for('delete_post', board_id=post['board_id']) }}" method="POST">
                                            <input type="hidden" name="page" value="posts"/>
                                            <button class="delete-post delete-post-btn btn-secondary btn-block" id="delete_button-{{post['board_id']}}" data-board-id="{{post['board_id']}}"><i class="fa fa-trash"></i></button>
                                        </form>
                                    </div>
                                </div>
                            </div>                           
                        </div>
                    {% endif %}
                </div>
                <hr class="responsive-divider">            
                <div class="col-8">
                    <div class="row">
                        <h4>{{post['title']}}</h4>
                        <p class="post_text">{{post['brag']}}</p>
                        
                        {% if post['image']|length > 1 %}
                            <div class="carousel-container" id="carousel-inner-{{post['board_id']}}">  
                                <!-- Carousel main container -->
                                <div id="post_carousel-{{ loop.index }}" class="carousel slide" data-bs-ride="carousel">
                                    <!-- Progress bar -->
                                    <div class="carousel-progress">
                                        <div class="carousel-progress-bar"></div>
                                    </div>                       
                                    <!-- Carousel items -->
                                    <div class="carousel-inner">
                                        {% for image_filename in post['image'] %}
                                            <div class="carousel-item {% if loop.first %}active{% endif %}">
                                                <div class="image-wrapper">
                                                    <img src="{{ url_for('static', filename='post_images/' + image_filename) }}" id="post-image-{{ post['board_id'] }}-{{ loop.index }}" alt="Slide {{ loop.index }}" class="carousel-image">
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                    <!-- Previous control -->
                                    <a class="carousel-control-prev" style="color: black;" href="#post_carousel-{{ loop.index }}" role="button" data-bs-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="visually-hidden">Previous</span>
                                    </a>
                                    <!-- Next control -->
                                    <a class="carousel-control-next" style="color: black;" href="#post_carousel-{{ loop.index }}" role="button" data-bs-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="visually-hidden">Next</span>
                                    </a>
                                    <!-- Carousel indicators -->
                                    <ol class="carousel-indicators" style="padding-top: 10px;">
                                        {% for image_filename in post['image'] %}
                                            <li data-bs-target="#post_carousel-1" data-bs-slide-to="{{ loop.index0 }}" {% if loop.first %}class="active"{% endif %}></li>
                                        {% endfor %}
                                    </ol>
                                </div>
                            </div>
                        {% elif post['image']|length == 1 %}
                            <div id="post_single-{{post['board_id']}}">
                                <img class="img image-fit post-img" src="{{ url_for('static', filename='post_images/' + post['image'][0]) }}" id="post-image-{{ post['board_id'] }}-0" />
                            </div>
                        {% else %}
                            <div id="post_single-{{post['board_id']}}"></div>
                        {% endif %}                                                                       

                        <br>
                        <br>
                        <hr />

                        <div class="col-12">
                            <button id="like-btn-{{ post['board_id'] }}" class="like-btn {{ 'liked' if post.get('user_liked', False) else '' }}" data-board-id="{{post['board_id']}}" data-action-status="true" data-liked="{{ 'true' if post['user_liked'] else 'false' }}"><span id="likes-{{ post['board_id'] }}">{{ post['likes_count'] or 0 }} </span><i class="fa fa-thumbs-up"></i></button>
                            
                            <button id="dislike-btn-{{ post['board_id'] }}" class="dislike-btn {{ 'disliked' if post.get('user_disliked', False) else '' }}" data-board-id="{{post['board_id']}}" data-action-status="false" data-liked="{{ 'true' if post['user_disliked'] else 'false' }}"><span id="dislikes-{{ post['board_id'] }}">{{ post['dislikes_count'] or 0 }} </span><i class="fa fa-thumbs-down"></i></button>  
                        </div>  

                        <div class="comment-form" data-board-id="{{ post['board_id'] }}">
                            <form method="POST" action="/pythonlogin/add_comment">
                                <input type="hidden" name="board_id" value="{{ post['board_id'] }}">
                                <textarea id="comment-{{ post['board_id'] }}" name="comment" maxlength="255" placeholder="Write a comment..."></textarea>
                                <div style="display: none; flex-direction: row;"> <!-- Initial display set to 'none' -->
                                    <button type="button" class="btn-cancel btn-secondary" disabled style="width: 49%; margin-right: 1% !important;">Cancel</button>
                                    <button type="submit" class="btn-comment btn-primary" disabled style="width: 49%; margin-left: 1% !important;">Comment</button>                                
                                </div>
                            </form>
                        </div>                                                     
                        <div id="comments-{{ post['board_id'] }}" class="comments">
                            {% for comment in post['comments'] %}
                                <div class="comment" data-comment-id="{{ comment['comment_id'] }}">
                                    <p class="ellipsis"><strong>{{ comment['user_name'] }}</strong> 
                                        <em> 
                                            Posted {{ comment['comment_date'] }}{% if comment['comment_date_edited'] %},{% endif %}
                                        {% if comment['comment_date_edited'] %}
                                            Edited {{ comment['comment_date_edited'] }}
                                        {% endif %}
                                        </em>
                                    </p>
                                    <p class="comment_text">{{ comment['comment'] }}</p>
                                    <div class="col-12">
                                        <button 
                                            id="comment_like-btn-{{ comment['comment_id'] }}" 
                                            class="comment_like-btn {{ 'liked' if comment.get('user_comment_like', False) else '' }}" 
                                            data-comment-id="{{comment['comment_id']}}" 
                                            data-action-status="true" 
                                            data-comment-liked="{{ 'true' if comment['user_comment_dislike'] else 'false' }}">
                                            <span id="comment_likes-{{ comment['comment_id'] }}">{{ comment['comment_likes_count'] or 0 }} </span>
                                            <i class="fa fa-thumbs-up"></i>
                                        </button>
                                        
                                        <button 
                                            id="comment_dislike-btn-{{ comment['comment_id'] }}" 
                                            class="comment_dislike-btn {{ 'disliked' if comment.get('user_comment_dislike', False) else '' }}" 
                                            data-comment-id="{{comment['comment_id']}}" 
                                            data-action-status="false" 
                                            data-comment-liked="{{ 'true' if comment['user_comment_dislike'] else 'false' }}">
                                            <span id="comment_dislikes-{{ comment['comment_id'] }}">{{ comment['comment_dislikes_count'] or 0 }} </span>
                                            <i class="fa fa-thumbs-down"></i>
                                        </button>                               
                                    </div>
                                    {% if session["user_id"] == comment['user_id'] %}
                                        <div class="edit-delete-comment">
                                            <!-- Edit Comment Form -->
                                            <form action="{{ url_for('edit_comment') }}" method="POST">
                                                <input type="hidden" name="comment_id" value="{{ comment['comment_id'] }}">
                                                <button type="submit" class="edit-comment-btn btn-primary comment-edit" data-comment-id="{{ comment['comment_id'] }}"><i class="fa fa-edit"></i></button>
                                            </form>
                            
                                            <!-- Delete Comment Form -->
                                            <form class="delete-comment-form" action="{{ url_for('delete_comment') }}" method="POST">
                                                <input type="hidden" name="comment_id" value="{{ comment['comment_id'] }}">
                                                <button type="button" class="delete-comment-btn btn-secondary comment-delete" data-comment-id="{{ comment['comment_id'] }}"><i class="fa fa-trash"></i></button>
                                            </form>
                                        </div>
                                    {% endif %} 
                                </div>
                            {% endfor %}
                        </div>                                                                                                                   
                    </div>
                </div>
            </div>
        {% endif %} 
    {% endfor %}
    {% if not flag_list[0] %}
        <p class="No_Posts">No brags yet.</p>
    {% endif %}
{% else %}
    <p class="No_Posts">No brags yet.</p>
{% endif %}


{% block script %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
document.querySelectorAll(".edit-post").forEach(function (button) {
    button.addEventListener("click", function () {
        const boardId = button.getAttribute("data-board-id");
        document.getElementById("edit-form-" + boardId).style.display = "block";
        document.getElementById("edit_button-" + boardId).style.display = "none";
    });
});

document.querySelectorAll(".cancel-edit").forEach(function (button) {
    button.addEventListener("click", function () {
        const boardId = button.getAttribute("data-board-id");
        document.getElementById("edit-form-" + boardId).style.display = "none";
        document.getElementById("edit_button-" + boardId).style.display = "block";
    });
});

document.querySelectorAll(".edit-form").forEach(function (form) {
    form.addEventListener("submit", function (event) {
        event.preventDefault();
        const boardId = form.getAttribute("data-board-id");
        submitEditForm(boardId);
    });
});


function submitEditForm(boardId) {
    const title = document.getElementById("edit-title-" + boardId).value;
    const brag = document.getElementById("edit-brag-" + boardId).value;

    const formData = new FormData();
    formData.append("board_id", boardId);
    formData.append("title", title);
    formData.append("brag", brag);

    const imageFile = document.getElementById("edit-image-" + boardId).files[0];
    if (imageFile) {
        formData.append("image", imageFile);
    }

    fetch("/pythonlogin/edit_post", {
        method: "POST",
        body: formData,
    })
    .then(response => response.json())
    .then(data => {
        if (data.status === "success") {
            // Update the post title and brag
            const postTitleElement = document.querySelector("#post-title-" + boardId);
            const postBragElement = document.querySelector("#post-brag-" + boardId);

            if (postTitleElement) {
                postTitleElement.textContent = title;
            }
            if (postBragElement) {
                postBragElement.textContent = brag;
            }

            // Update the images
            const imageFilenames = data.image_filenames;
            
            // Remove all existing images for the post
            const existingImages = document.querySelectorAll("#post-" + boardId + " .carousel-item");
            existingImages.forEach(element => element.remove());

            const existingImage = document.querySelectorAll("#post-image-" + boardId + "-0");
            existingImage.forEach(element => element.remove());

            const carouselContainer = document.querySelector("#carousel-inner-" + boardId);

            if (imageFilenames.length > 1) {
                if (carouselContainer) {
                    carouselContainer.style.display = "block";
                }
                imageFilenames.forEach((filename, index) => {
                    const newImageElement = document.createElement("img");
                    newImageElement.src = "{{ url_for('static', filename='post_images/') }}" + filename;
                    newImageElement.id = "post-image-" + boardId + "-" + index;
                    newImageElement.alt = "Slide " + (index + 1);
                    newImageElement.classList.add("carousel-image");

                    const carouselInner = document.querySelector("#post-" + boardId + " .carousel-inner");
                    const carouselItem = document.createElement("div");
                    carouselItem.classList.add("carousel-item");

                    if (index === 0) carouselItem.classList.add("active");
                    carouselItem.appendChild(newImageElement);
                    carouselInner.appendChild(carouselItem);
                });
            } else if (imageFilenames.length === 1) {
                if (carouselContainer) {
                    carouselContainer.style.display = "none";
                }

                let singleContainer = document.querySelector("#post_single-" + boardId);
                if (!singleContainer) {
                    singleContainer = document.createElement("div");
                    singleContainer.id = "post_single-" + boardId;
                    const postContainer = document.getElementById("post-" + boardId);
                    if (postContainer) {
                        postContainer.appendChild(singleContainer);
                    }
                }

                const newImageElement = document.createElement("img");
                newImageElement.src = "{{ url_for('static', filename='post_images/') }}" + imageFilenames[0];
                newImageElement.id = "post-image-" + boardId + "-0";
                newImageElement.alt = "Slide 1";
                newImageElement.classList.add("img", "image-fit");
                singleContainer.appendChild(newImageElement);
            }

            // Update the edit time if provided in the response data
            if (data.date_edited) {
                // Remove the specific 'Time Edit:' row if it exists
                const oldEditedTimeDiv = document.querySelector(`#post-${boardId} #old-date-edited`);
                if (oldEditedTimeDiv) {
                    oldEditedTimeDiv.remove();
                }
                            
                // Now, create a new edited time row
                const editedTimeRow = document.createElement("div");
                editedTimeRow.classList.add("row", "date_edited");

                const labelCol = document.createElement("div");
                labelCol.classList.add("col-6", "ellipsis-label");
                labelCol.textContent = "Time Edit:";

                const valueCol = document.createElement("div");
                valueCol.classList.add("col-6", "ellipsis");
                valueCol.textContent = data.date_edited;

                editedTimeRow.appendChild(labelCol);
                editedTimeRow.appendChild(valueCol);

                const infoPosts = document.querySelector(`#post-${boardId} .info_posts`);
                infoPosts.appendChild(editedTimeRow);
            }

            // Hide the edit form and show the post
            document.getElementById("edit-form-" + boardId).style.display = "none";
            document.getElementById("edit_button-" + boardId).style.display = "block";

            console.log("hi9");
        } else {
            alert("Error: " + data.error);
        }
    })
    .catch(error => {
        console.error('Error:', error);
        alert("An error occurred.");
    });
}


$(document).ready(function () {
    // Attach delete handler to existing delete post buttons
    $(".delete-post-btn").click(handleDeletePost);
});

// Function to handle deletion of posts
function handleDeletePost(event) {
    event.preventDefault();
    
    console.log(this);
    
    var postElement = $(this).closest(".post");  // Assuming each post is wrapped in an element with class "post"
    console.log(postElement);
    var boardId = $(this).attr("data-board-id");
    console.log(boardId);

    if (confirm("Are you sure you want to delete this post?")) {
        $.ajax({
            type: "POST",
            url: "{{url_for('delete_post')}}",
            data: {
                board_id: boardId,
                page: 'posts'
            },  // Sending the board_id as form data
            success: function (response) {
                postElement.remove();
                console.log(response);
            },
            error: function (xhr, status, error) {
                console.error("Error:", error);
                alert("An error occurred while deleting the post.");
            },
        });
    }
};


document.querySelectorAll(".like-btn, .dislike-btn").forEach(function(button) {
    button.addEventListener("click", function(event) {
        event.preventDefault();

        var board_id = button.getAttribute("data-board-id");
        var like = button.classList.contains("like-btn");
        var alreadyLiked = (button.getAttribute("data-liked") === "true");

        var oppositeButton = like ? 
            button.parentElement.querySelector(".dislike-btn") :
            button.parentElement.querySelector(".like-btn");

        var oppositeAlreadyLiked = (oppositeButton.getAttribute("data-liked") === "true");

        if (like) {
            if (alreadyLiked) {
                button.classList.remove("liked");
            } else {
                button.classList.add("liked");
                oppositeButton.classList.remove("disliked");
            }
        } else {
            if (alreadyLiked) {
                button.classList.remove("disliked");
            } else {
                button.classList.add("disliked");
                oppositeButton.classList.remove("liked");
            }
        }

        button.setAttribute("data-liked", (!alreadyLiked).toString());
        oppositeButton.setAttribute("data-liked", "false");

        updateBackend(board_id, like);
    });
});

document.addEventListener('DOMContentLoaded', function() {
    var ld_posts = document.getElementById('ld_posts');
    var t = ld_posts.getAttribute('data-target');
    
    if (t) {
        var list = t.split(',').filter(item => item.trim() !== '');

        for (let item of list) {
            var id = item.split('-');
            var status = id[1];

            if (status === '1') { 
                let h = document.getElementById("like-btn-" + id[0]);
                if (h) {
                    h.classList.add("liked");
                    h.setAttribute("data-liked", "true");
                }
            } else if (status === '0') {
                let h = document.getElementById("dislike-btn-" + id[0]);
                if (h) {
                    h.classList.add("disliked");
                    h.setAttribute("data-liked", "true");
                }
            }
        }
    }
});


function updateBackend(board_id, like) {
    $.ajax({
        type: "POST",
        url: "/pythonlogin/like_post",
        data: { board_id: board_id, like: like },
        success: function (response) {
            $("#likes-" + board_id).text(response.likes + ' ');
            $("#dislikes-" + board_id).text(response.dislikes + ' ');

            // Update the frontend based on the user's action
            var likeButton = document.querySelector(`.like-btn[data-board-id="${board_id}"]`);
            var dislikeButton = document.querySelector(`.dislike-btn[data-board-id="${board_id}"]`);

            likeButton.setAttribute("data-liked", response.user_liked.toString());
            dislikeButton.setAttribute("data-liked", response.user_disliked.toString());
        },
        error: function (error) {
            console.error("Failed to update likes/dislikes:", error);
        }
    });
}


document.querySelectorAll(".comment_like-btn, .comment_dislike-btn").forEach(function(button) {
    button.addEventListener("click", function(event) {
        event.preventDefault();

        var comment_id = button.getAttribute("data-comment-id");
        
        // Declare and determine the value for the comment_like variable
        var comment_like = button.classList.contains("comment_like-btn");
        
        var alreadyLiked = (button.getAttribute("data-comment-liked") === "true");

        var oppositeButton = comment_like ? 
            button.parentElement.querySelector(".comment_dislike-btn") :
            button.parentElement.querySelector(".comment_like-btn");

        if (comment_like) {
            if (alreadyLiked) {
                button.classList.remove("liked");
            } else {
                button.classList.add("liked");
                oppositeButton.classList.remove("disliked");
            }
        } else {
            if (alreadyLiked) {
                button.classList.remove("disliked");
            } else {
                button.classList.add("disliked");
                oppositeButton.classList.remove("liked");
            }
        }

        button.setAttribute("data-comment-liked", (!alreadyLiked).toString());
        oppositeButton.setAttribute("data-comment-liked", "false");

        // Now, you can safely pass the comment_like variable to the function
        updateBackendForComment(comment_id, comment_like);
    });
});

// For initial load, set the liked/disliked status on comments
document.addEventListener('DOMContentLoaded', function() {
    var ld_comments = document.getElementById('ld_comments'); // Ensure this ID is set on the appropriate element.
    var tc = ld_comments ? ld_comments.getAttribute('data-target') : null;

    if (tc) {
        var list = tc.split(',').filter(item => item.trim() !== '');

        for (let item of list) {
            var id = item.split('-');
            var status = idc[1];

            if (status === '1') { 
                let btnc = document.getElementById("comment_like-btn-" + id[0]);
                if (btnc) {
                    btnc.classList.add("liked");
                    btnc.setAttribute("data-comment-liked", "true");
                }
            } else if (status === '0') {
                let btnc = document.getElementById("comment_dislike-btn-" + id[0]);
                if (btnc) {
                    btnc.classList.add("disliked");
                    btnc.setAttribute("data-comment-liked", "true");
                }
            }
        }
    }
});

function updateBackendForComment(comment_id, comment_like) {
    $.ajax({
        type: "POST",
        url: "/pythonlogin/like_comment",
        data: { comment_id: comment_id, comment_like: comment_like },
        success: function (response) {
            $("#comment_likes-" + comment_id).text(response.comment_likes + ' ');
            $("#comment_dislikes-" + comment_id).text(response.comment_dislikes + ' ');

            // Update the frontend based on the user's action
            var commentLikeButton = document.querySelector(`.comment_like-btn[data-comment-id="${comment_id}"]`);
            var commentDislikeButton = document.querySelector(`.comment_dislike-btn[data-comment-id="${comment_id}"]`);

            commentLikeButton.setAttribute("data-comment-liked", response.user_comment_liked.toString());
            commentDislikeButton.setAttribute("data-comment-liked", response.user_comment_disliked.toString());
        },
        error: function (error) {
            console.error("Failed to update comment likes/dislikes:", error);
        }
    });
}


// Function to toggle the state of the buttons based on textarea content
function toggleButtonsState(textarea) {
    const hasContent = textarea.value.trim() !== ""; // Check if textarea is not empty
    const buttonsContainer = textarea.nextElementSibling;
    const cancelButton = buttonsContainer.querySelector(".btn-cancel");
    const commentButton = buttonsContainer.querySelector(".btn-comment");

    if (hasContent) {
        cancelButton.removeAttribute("disabled");
        commentButton.removeAttribute("disabled");
    } else {
        cancelButton.setAttribute("disabled", "true");
        commentButton.setAttribute("disabled", "true");
    }
}

function toggleButtonsVisibility(textarea, displayValue) {
    const buttonsContainer = textarea.nextElementSibling;
    buttonsContainer.style.display = displayValue;
}

document.querySelectorAll(".comment-form").forEach(function(formContainer) {
    console.log("Form selected:", formContainer);

    const boardId = formContainer.getAttribute("data-board-id");
    const commentElement = document.getElementById("comment-" + boardId);
    const form = formContainer.querySelector('form');

    // Initially set button states based on textarea content
    toggleButtonsState(commentElement);

    // Update button states when something is typed into the textarea
    commentElement.addEventListener("input", function() {
        toggleButtonsState(commentElement);
    });

    // Show buttons when textarea is focused
    commentElement.addEventListener("focus", function(event) {
        console.log("Textarea focused");
        event.stopPropagation();
        toggleButtonsVisibility(commentElement, "flex");
    });

    // Hide buttons when "Cancel" is clicked
    formContainer.querySelector(".btn-cancel").addEventListener("click", function(event) {
        commentElement.value = "";
        toggleButtonsState(commentElement);
        toggleButtonsVisibility(commentElement, "none");
        event.stopPropagation();
    });

    // Handle the "Comment" button click
    formContainer.querySelector(".btn-comment").addEventListener("click", function(event) {
        console.log("Comment button clicked");
        event.preventDefault();

        const comment = commentElement.value;
        const formData = new FormData(form);
        console.log("Initiating AJAX request");  // Debugging line

        $.ajax({
            type: "POST",
            url: "/pythonlogin/add_comment",
            data: formData,
            contentType: false,
            processData: false,
            success: function (data) {
                // Create a new comment element
                const newComment = document.createElement("div");
                newComment.classList.add("comment");
                newComment.innerHTML = `
                    <p class="ellipsis"><strong>${data.user_name}</strong> <em> Posted ${data.comment_date}</em></p>
                    <p>${data.comment}</p>
                `;
        
                newComment.setAttribute("data-comment-id", data.comment_id);
        
                // Append the new comment to the corresponding post
                const commentsSection = document.querySelector(`#comments-${boardId}`);
                commentsSection.appendChild(newComment);
        
                // Clear the comment input field
                commentElement.value = "";
                toggleButtonsState(commentElement);
                toggleButtonsVisibility(commentElement, "none");
        
                // Only show the delete button if the user is the author or an admin
                const userId = "{{ session['user_id'] }}";
                if (userId == data.user_id) {
                    const editDeleteContainer = document.createElement("div");
                    editDeleteContainer.classList.add("edit-delete-comment");
                
                    const editForm = document.createElement("div");
                    editForm.innerHTML = `
                        <form action="{{ url_for('edit_comment') }}" method="POST">
                            <input type="hidden" name="comment_id" value="${data.comment_id}">
                            <button type="submit" class="edit-comment-btn btn-primary comment-edit"><i class="fa fa-edit"></i></button>
                        </form>
                    `;
                    editDeleteContainer.appendChild(editForm);
                
                    const deleteForm = document.createElement("div");
                    deleteForm.innerHTML = `
                        <form action="{{ url_for('delete_comment') }}" method="POST">
                            <input type="hidden" name="comment_id" value="${data.comment_id}">
                            <button type="button" class="delete-comment-btn btn-secondary comment-delete"><i class="fa fa-trash"></i></button>
                        </form>
                    `;
                    editDeleteContainer.appendChild(deleteForm);
                
                    newComment.appendChild(editDeleteContainer);
                
                    const editButton = editForm.querySelector(".edit-comment-btn");
                    if (editButton) {
                        editButton.addEventListener("click", handleEditComment);
                    }
                
                    const deleteButton = deleteForm.querySelector(".delete-comment-btn");
                    if (deleteButton) {
                        deleteButton.addEventListener("click", handleDeleteComment);
                    }
                }                
        
                // Add the like and dislike buttons to the new comment
                const likeDislikeContainer = document.createElement("div");
                likeDislikeContainer.classList.add("like-dislike-container");
                likeDislikeContainer.innerHTML = `
                <button 
                    id="comment_like-btn-{{ comment['comment_id'] }}" 
                    class="comment_like-btn {{ 'liked' if comment.get('user_comment_like', False) else '' }}" 
                    data-comment-id="{{comment['comment_id']}}" 
                    data-action-status="true" 
                    data-comment-liked="{{ 'true' if comment['user_comment_dislike'] else 'false' }}">
                    <span id="comment_likes-{{ comment['comment_id'] }}">0 </span>
                    <i class="fa fa-thumbs-up"></i>
                </button>
                
                <button 
                    id="comment_dislike-btn-{{ comment['comment_id'] }}" 
                    class="comment_dislike-btn {{ 'disliked' if comment.get('user_comment_dislike', False) else '' }}" 
                    data-comment-id="{{comment['comment_id']}}" 
                    data-action-status="false" 
                    data-comment-liked="{{ 'true' if comment['user_comment_dislike'] else 'false' }}">
                    <span id="comment_dislikes-{{ comment['comment_id'] }}">0 </span>
                    <i class="fa fa-thumbs-down"></i>
                </button>
                `;
                newComment.appendChild(likeDislikeContainer);
        
                // Attach the click event to the newly added like and dislike buttons
                likeDislikeContainer.querySelector(".comment_like-btn").addEventListener("click", handleLikeDislike);
                likeDislikeContainer.querySelector(".comment_dislike-btn").addEventListener("click", handleLikeDislike);
            },
            error: function (error) {
                console.error("Error:", error);
            }
        });        
    });
});

document.addEventListener("click", function(event) {
    if (event.target.closest('.comment-form') || event.target.tagName.toLowerCase() === 'textarea') {
        const textarea = event.target.closest('.comment-form') ? event.target.closest('.comment-form').querySelector('textarea') : event.target;
        toggleButtonsVisibility(textarea, "flex");
    } else {
        document.querySelectorAll(".comment-form").forEach(function(formContainer) {
            const commentElement = formContainer.querySelector('textarea');
            toggleButtonsVisibility(commentElement, "none");
        });
    }
});


$(document).ready(function () {
    // Attach delete handler to existing delete buttons
    $(".delete-comment-btn").click(handleDeleteComment);
});

// Function to handle deletion of comments
function handleDeleteComment(event) {
    event.preventDefault();
    
    var commentElement = $(this).closest(".comment");
    console.log(commentElement)
    var commentId = commentElement.attr("data-comment-id");
    console.log(commentId);  // Debug: print the retrieved comment_id to console

    if (confirm("Are you sure you want to delete this comment?")) {
        $.ajax({
            type: "POST",
            url: "/pythonlogin/delete_comment",
            data: `comment_id=${commentId}`,  // This sends the data as form data
            success: function (response) {
                commentElement.remove();
            },
            error: function (xhr, status, error) {
                console.error("Error:", error);
                alert("An error occurred while deleting the comment.");
            },
        });
    }
};

document.querySelectorAll(".edit-comment-btn").forEach(function (button) {
    button.addEventListener("click", handleEditComment);
});

function handleEditComment(event) {
    
    event.preventDefault();

    const commentElement = event.target.closest(".comment");
    const commentContentElement = commentElement.querySelectorAll("p")[1];

    const iconElement = event.target.querySelector('i'); // Get the icon element within the button

    if (iconElement.classList.contains("fa-edit")) {
        // Switch to edit mode
        iconElement.classList.remove('fa-edit');
        iconElement.classList.add('fa-save');

        var commentText = commentContentElement.innerText;
        commentContentElement.innerHTML = `<input type="text" class="edit-comment-input" value="${commentText}">`;
    } else {
        // Save changes
        iconElement.classList.remove('fa-save');
        iconElement.classList.add('fa-edit');

        var newComment = commentElement.querySelector(".edit-comment-input").value;
        commentContentElement.innerText = newComment;

        var commentId = commentElement.getAttribute("data-comment-id");
        console.log(commentId)

        var formData = new FormData();
        formData.append('comment_id', commentId);
        formData.append('new_comment', newComment);

        $.ajax({
            type: "POST",
            url: "/pythonlogin/edit_comment",
            data: formData,
            contentType: false,
            processData: false,
            success: function (response) {
                console.log(response);
                const dateParagraph = commentElement.querySelectorAll("p")[0];
                dateParagraph.innerHTML = `<strong>${response.user_id}</strong> 
                    <em> Posted ${response.comment_date}, Edited ${response.comment_date_edited}</em>`;
            },
            error: function (xhr, status, error) {
                console.error("Error:", error);
                alert("An error occurred while editing the comment.");
            }
        });
    }
}

document.addEventListener('DOMContentLoaded', function() {

    {% for post in tblboard %}

        {% if post['image']|length > 1 %} 

            var carouselId = 'post_carousel-' + {{ loop.index }}; 
            var myCarousel = document.querySelector('#' + carouselId);
            
            if(myCarousel) { 

                var progressBar = myCarousel.querySelector('.carousel-progress-bar');
                var carousel = new bootstrap.Carousel(myCarousel, {
                    interval: 5000, // Assuming total time = transition time + 600ms slide transition time.
                    wrap: true
                });

                // If this is the first carousel, reset its progress bar
                if ({{ loop.index }} === 1) {
                    progressBar.style.transition = "none";
                    progressBar.style.width = '0%';
                    progressBar.offsetHeight; // Force a repaint
                    progressBar.style.transition = "width 4.3s linear"; // Adjust this time if necessary
                }

                // Initialize the progress bar animation on load
                progressBar.style.width = '100%';

                // Event triggered when a new slide starts transitioning
                myCarousel.addEventListener('slide.bs.carousel', function () {
                    console.log('slide.bs.carousel event for', carouselId, 'fired!');
                    progressBar.style.transition = "none"; // Disable transition
                    progressBar.style.width = '0%';        // Reset width immediately
                    progressBar.offsetHeight;               // Force repaint
                });

                // Event triggered when a new slide has finished transitioning
                myCarousel.addEventListener('slid.bs.carousel', function () {
                    console.log('slid.bs.carousel event for', carouselId, 'fired!');
                    progressBar.style.transition = "width 4.3s linear"; // Adjust this time if necessary
                    progressBar.style.width = '100%';                 // Set width to full immediately
                });

            } else {
                console.warn('Carousel not found:', carouselId);
            }

        {% endif %}
        
    {% endfor %}

    // New code to remove focus after clicking
    var controls = document.querySelectorAll('.carousel-control-prev, .carousel-control-next');
    controls.forEach(function(control) {
        control.addEventListener('click', function() {
            control.blur();
        });
    });

    // Explicit Event Listeners for Diagnostic
    var indicators = document.querySelectorAll('.carousel-indicators li');
    indicators.forEach(function(indicator) {
        indicator.addEventListener('click', function() {
            console.log('Indicator clicked:', indicator.getAttribute('data-bs-slide-to'));
        });
    });
});

</script>
{% endblock %}
{% endblock %}